.contratos {
  padding: 110px 20px;
  background: #f6f9fc;
  text-align: center;
}

.contratos-container {
  max-width: 1100px;
  margin: auto;
}

.contratos h1 {
  font-size: 38px;
  color: #081833;
  margin-bottom: 10px;
}

.subtitle {
  color: #5c6b80;
  margin-bottom: 60px;
}

/* GRID */

.contratos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

/* CARD */

.contrato-card {
  background: white;
  padding: 35px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, .06);
  transition: .3s;
  text-align: left;
}

.contrato-card:hover {
  transform: translateY(-8px);
}

.contrato-card h3 {
  color: #081833;
  margin-bottom: 12px;
}

.contrato-card p {
  color: #5c6b80;
  margin-bottom: 20px;
}

/* BOTÃO */

.contrato-card a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  min-width: 140px;

  background: #2FA4E7;
  color: #fff;

  padding: 10px 18px;
  border-radius: 8px;

  text-decoration: none;
  font-weight: 600;
  font-size: 14px;

  transition: all 0.3s ease;
}

.contrato-card a:hover {
  background: #1d8fd1;
  transform: translateY(-4px);
  box-shadow: 0 20px 45px rgba(0,0,0,0.08);
}