.chat-botao {
  position: fixed;

  bottom: 20px;
  right: 20px;


  width: 60px;
  height: 60px;

  background: #25D366;
  color: white;
  position: fixed;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 26px;

  box-shadow: 0 8px 20px rgba(0, 0, 0, .2);
  z-index: 999;
  transition: .3s;

  /* 🔥 ESSENCIAL */
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
}

/* HOVER (desktop) */
.chat-botao:hover {
  transform: scale(1.1);
}

/* ================= TABLET ================= */
