/* esconder cursor padrão */

/* cursor base */
.cursor {
  position: fixed;
  width: 18px;
  height: 18px;
  cursor: none;
  background: #e50965;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition:
    width .25s ease,
    height .25s ease,
    background .25s ease,
    transform .08s linear;
  z-index: 9999;
}

/* efeito hover */
.cursor-hover {
  width: 30px;
  cursor: none;
  height: 30px;
  background: #e50965;
  backdrop-filter: blur(4px);
}