.header {
  background: linear-gradient(90deg, #b8325a, #DC275DFF);
  padding: 14px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 60px;
}

/* MENU DESKTOP */

.menu {
  display: flex;
  gap: 26px;
}

.menu a {
  color: white;
  font-size: 15px;
  text-decoration: none;
  font-family: Poppins;
  font-weight: 500;
  transition: .3s;
}

.menu a.active {
  border-bottom: 2px solid #fff;
  padding-bottom: 4px;
  opacity: 1;
}

.menu a.active:hover {
  transform: none;
}

.menu a:hover {
  opacity: .8;
  transform: translateY(-20%)
}

/* SOCIAL */

.social {
  color: white;
  display: flex;
  gap: 18px;
  font-size: 18px;
}

/* HAMBURGER */

.hamburger {
  display: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

/* MOBILE */

@media (max-width: 900px) {

  .hamburger {
    display: block;
  }

  .social {
    display: none;
  }

  .menu {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    background: #0B1E4B;

    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 30px 0;

    transform: translateY(-150%);
    transition: .4s ease;
  }

  .menu.active {
    transform: translateY(0);
  }
}